@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* Preface 2 table formatting */
#preface-2 tbody tr:last-child{
	line-height: 2;
	text-indent: 1em;
}

#preface-2 tfoot{
	line-height: 2;
}

#preface-2 table td:last-child,
#preface-2 table td:nth-last-child(2){
	font-variant-numeric: tabular-nums;
	text-align: right;
}
/* End preface 2 table formatting */

/* Preface 2 manuscript list */
[epub|type~="z3998:unorderedlist"] blockquote p{
	text-indent: 0;
}
/* End preface 2 manuscript list */

/* Figures */
figure{
	break-inside: avoid;
	margin: 1em 40px;
	text-align: center;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
}

figcaption p + p{
	text-indent: 0;
}

figure.full-page{
	break-after: page;
	break-before: page;
	margin: 0;
	max-height: 100vh;
	text-align: center;
}

@supports(display: flex){
	figure.full-page{
		display: flex;
		flex-direction: column;
	}

	figure.full-page img{
		height: 100vh;
		object-fit: contain;
	}
}

img.inline{
	height: 1em;
}

/* Reasonable image sizes for larger screens based on image size and text resolution (roughly ~16 px : 1em at 'normal' sizes in browsers) */
figure#music-1,
figure#music-2,
figure#music-3,
figure#music-4,
figure#music-5,
figure#music-6,
figure#music-7,
figure#music-8,
figure#music-9,
figure#music-10,
figure#music-12{
	max-width: 30em;
}
/* End figures */

/* Appendix headers */
header p{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

header i[xml|lang~="el"]{
	font-variant: normal;
}
/* End appendix headers */

/* Appendix blockquote */
#appendix-1 blockquote{
	text-align: center;
}
/* End appendix blockquote */

/* Verse */
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}
/*End verse*/